* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

root {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d5d2d2 !important;
  font-family: 'Roboto', sans-serif;
}


.highlight {
  color: blue;
}

.hero {
  height: 40vh;
}


#no-image{
  max-height: 10rem;
}

#btn-hero {
  background-color: transparent;
  border-radius: 45% 3px;
  color: #b4b4b4;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid #b4b4b4;
  top: -10px;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
}

#btn-hero span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#btn-hero span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

#btn-hero:hover,
#btn-hero:focus {
  background-color: grey;
  color: blue;
}

#btn-hero:hover span {
  padding-right: 25px;
}

#btn-hero:hover span:after {
  opacity: 1;
  right: 0;
}


#Name,
#Email,
#Message {
  opacity: 70%;
  background-color: rgb(59, 117, 241);
  color: rgb(249, 248, 251);
  font-weight: bold;
}

input.form-control::placeholder,
textarea.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#gradient {
  border-radius: 10px;
  animation: myMove 5s linear infinite;
}
@keyframes myMove {
 0% {
    background: rgb(0, 0, 0);
  }
  25% {
    background: rgb(30, 30, 30);
  }
  50% {
    background: rgb(0, 0, 60);
  }
  75% {
    background: rgb(0, 0, 90);
  }
  100% {
    background: rgb(0, 0, 30);
  }
}

#fancy-text {
  font-family:arial black;
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 1000s linear infinite;
}

  #fancy-text-nav {
    font-family:arial black;
    background-image: 
      linear-gradient(to right, grey, white,silver, black); 
      background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 10000s linear infinite;
  }
  @keyframes move {
    to {
      background-position: 4500vh;
    }
    }

    #thing {
      padding: 200px 20px 10px 20px;
      background-image: radial-gradient(ellipse 100% 200% at 50% 200%, rgb(0, 0, 0) 90%, #0000 90%),
          radial-gradient(ellipse 100% 200% at 50% 190%, rgb(92, 92, 92) 90%, #0000 90%);

      font-family: sans-serif;
      text-transform: uppercase;
  }

