* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

root {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d5d2d2 !important;
  font-family: 'Roboto', sans-serif;
}


.highlight {
  color: blue;
}

.hero {
  height: 50vh;
  max-width: 100%;
}


#no-image{
  max-height: 10rem;
}



#Name,
#Email,
#Message {
  opacity: 70%;
  background-color: rgb(59, 117, 241);
  color: rgb(249, 248, 251);
  font-weight: bold;
}

input.form-control::placeholder,
textarea.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#gradient {
  border-radius: 10px;
  animation: myMove 5s linear infinite;
}
@keyframes myMove {
 0% {
    background: rgb(0, 0, 0);
  }
  25% {
    background: rgb(30, 30, 30);
  }
  50% {
    background: rgb(0, 0, 60);
  }
  75% {
    background: rgb(0, 0, 90);
  }
  100% {
    background: rgb(0, 0, 30);
  }
}

#fancy-text {
  font-family:arial black;
  background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 500s linear infinite;
}

  #fancy-text-nav {
    font-family:arial black;
    background-image: 
      linear-gradient(to right, grey, white,silver, black); 
      background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 10000s linear infinite;
  }
  @keyframes move {
    to {
      background-position: 4500vh;
    }
    }

   #curve {
      padding: 200px 20px 10px 20px;
      background-image: radial-gradient(ellipse 100% 200% at 50% 200%, rgb(0, 0, 0) 90%, #0000 90%),
          radial-gradient(ellipse 100% 200% at 50% 197%, rgb(92, 92, 92) 90%, #0000 90%);
      font-family: sans-serif;
      text-transform: uppercase;
      border-radius: 10px;
  } 


  #fancy-text-hero {
    background-image: 
      linear-gradient(to right, rgb(0, 21, 255), rgb(192, 133, 133),silver, rgb(0, 37, 222)); 
      background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 2000s linear infinite;
  }
  @keyframes move {
    to {
      background-position: 4500vh;
    }
    }