* {
   box-sizing: border-box;
}
body {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-size: 25px;
    background-color: #b4b4b4;
    margin:0;
    padding: 0;
}

/* Header START */
#vanta-canvas {
width: 100vw;
height: 50vh;
display: flex;
align-items: center;
font-weight: bold;
font-size: 6vmin;
}

.inner_header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: normal;
}

.inner_header p {
    color: #b4b4b4;
    font-family: cursive;
    -webkit-font-smoothing: antialiased;
}

.highlight {
color: blue;
-webkit-font-smoothing: antialiased;
}

button {
    background-color: transparent;
    border-radius: 45% 3px; 
    color: #b4b4b4;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 25px;
    -webkit-font-smoothing: antialiased;
    transition: all 0.3s;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

button:hover, 
button:focus{
    background-color: grey;
    color: blue;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after{
    opacity: 1;
    right: 0;
}
/* Header END */

/* navigation START */
.nav {
    background: blue;
    border-bottom: solid 3px;
    border-bottom-color: white;
}
.nav li {
    display: inline-block;
    margin-left: 30px;
}

.nav a {
    text-decoration: none;
    color: #fff;
}
/* Navigation END*/

/* Section About START*/
.about h1 {
    text-align: center;
    margin-top: 100px;
    color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.about h1::after {
    content:"";
    height: 3px;
    width: 70px;
    position: absolute;
    background: #000000;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
}

.sa-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    max-width: 300px;
    margin: 30px 350px;
    text-align: center;
    font-size: 18px;
    background-color: black;
    border-radius: 20px;

}
.title {
    color: blue;
    font-size: 18px;
}
#fancy-font {
    font-size: 30px;
    padding: 5px;
    color: yellow;
    align-items: center;
    margin: 5px;
}

.about p {
    padding: 10px;
    text-align: center;
}

/* Section About END */

/* Section Projects START */
.projects h1 {
    text-align: center;
    margin-top: 100px;
    color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.projects h1::after {
    content:"";
    height: 3px;
    width: 70px;
    position: absolute;
    background: #000000;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
}

/* Active Project Format BEGIN*/
.flip-card-1 {
    background-color: transparent;
    width: 100%;
    height: 50vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border-radius: 20px;
    display: flex;
}
.project-img-1{
    border-radius: 20px;
}
.back-text-1 {
    width: 100%;
    font-size: auto;
    text-align: center;
    position: relative;
}
.flip-card-inner-1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card-1:hover .flip-card-inner-1{
    transform: rotateY(180deg);
}
.flip-card-front-1, .flip-card-back-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backgrace-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
}
.flip-card-back-1 {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    text-overflow: none;
    font-size: 1.5em;
}
/* Active Project Format DONE */

/* Older Projects Format BEGIN */
.flip-card-2 {
    background-color: transparent;
    width: 50%;
    height: 20vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border-radius: 20px;
    display: flex;
}
.project-img-2{
    border-radius: 20px;
}
.back-text-2 {
    width: 100%;
    font-size: auto;
    text-align: center;
    position: relative;
}
.flip-card-inner-2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card-2:hover .flip-card-inner-2{
    transform: rotateY(180deg);
}
.flip-card-front-2, .flip-card-back-2{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backgrace-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
}
.flip-card-back-2 {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
    text-overflow: none;
    font-size: 0.5em;
}
/* Older Projects Format DONE*/

.button-2 {
    background-color: transparent;
    border-radius: 20%; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 25px;
    -webkit-font-smoothing: antialiased;
    transition: all 0.3s;
}

.button-2:hover {
    opacity: 1;
}

.button-2 a {
    text-decoration: none;
    color: #fff;
}
/* Section Projects END */

/* Section Blog START */
.blog h1 {
    text-align: center;
    margin-top: 100px;
    color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.blog h1::after {
    content:"";
    height: 3px;
    width: 70px;
    position: absolute;
    background: #000000;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
}

.blog-cards {
    margin: 0 auto;
    max-width:1000px;
    display: grid;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: baseline;
    
}
.blog-card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

.blog-card-image { 
 width: 100%;
 height: 150px;
 object-fit: cover;
 display: block;
 border: 2px solid #000000;
}

.blog-card-content p {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: grey;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.blog-card-content > p:first-of-type {
    margin-top: 0;
}

.blog-card-content > p:last-of-type {
    margin-bottom: 0;
}

.blog-card-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(87, 87, 87);
    font-size: 0.8em;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000
}

.card-blog-info i {
    font-size: 0.8em;
    margin-right: 8px;
}

.card-blog-link {
    color: #64968c;
    text-decoration: none;
}

.card-blog-link:hover {
    text-decoration: underline;

}

/*Section CONTACT Start */
.blog h1 {
    text-align: center;
    margin-top: 100px;
    color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.blog h1::after {
    content:"";
    height: 3px;
    width: 70px;
    position: absolute;
    background: #000000;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
}
.form-input {
    border: 1px solid white;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    width: 50%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 1);
    margin-left: 250px;
}

.form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.contact-form input, .contact-form textarea {
    border: 1px solid white;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: rgb(9, 22, 254);
    width: 50%;
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 250px;

}
.contact-form button {
    width: 200%;
    border: none;
    background: rgba(255,255,255, 0.9);
    color: black;
    text-align: center;
    padding: 15px 0;
    font-size: 0.5em;
    border-radius: 10px;
    align-items: center;
    position: relative;
}

.contact-form button:hover {
    color: white;
    background: rgb(38, 0, 255, 0.5);
}

.contact-info a {
    color: white;
}

.contact-form input, .contact-form textarea {
    background-color: rgba(255, 255, 255, 0.224);
    outline: none;
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(0, 0, 0, 0.265);
    outline: none;
}
.contact-form p{
    text-align: center;
    color: rgb(7, 39, 243);
    font-style:italic;
    margin-top: 30px
}
.b-container {
    height: 200%;
    position: relative;
}
.b-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* Section Contact END */

/* media queries */

@media screen and (max-width: 575px){ */
     .column {
        width: 100%;
        display: block;
    }
    img{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .card{
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 980px){ */
    .column {
       width: 100%;
       display: block;
   }
   img{
       width: 100%;
       display: block;
   }
   .card{
    width: 100%;
    display: block;

}
}
@media screen and (max-width: 768px){ */
    .column {
       width: 100%;
       display: block;
   }
   img{
       width: 100%;
       display: block;
   }
   .card{
       width: 100%;
       display: block;
   }
}